body {
  background: #C1E1A6;
}
/* every box is this size */

.skyblue {
  background: deepskyblue;
}

.box{
  padding: 10px;
  background: white;
  margin-top:50px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:20px;
  align-content: center;
}




/* Giving our navbar some padding and a background color */
.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background: powderblue;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}


p{
    font-size: 20px;
}


.c-d{color: green;
  font-size: 25px;
}

.latitude {
  color: white;
  font-family: verdana;
  font-size: 40px;
  background-color: green;
  border: 1px solid green;
    padding: 15px;
}
/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }
  .box {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navbar ul {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }
}
